.lists {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;

    .travel-list {
        width: 70%;
    }
    .favourites-list {
        > h2 {
            color: #222;
            line-height: 1;
            margin-top: 0;
            padding-top: 0;
        }
        width: 30%;
    }
    button {
        &:first-child {
            margin-right: 0.5rem;
        }
    }
}